<h1>Registered Users</h1>

<table>
  <thead>
    <tr>
      <th>employee_number</th>
      <th>created_at</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.employee_number %></td>
        <td><%= user.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
